header{
	padding: 0 140px;
}

.header-div{
	display: inline-block;
	vertical-align: middle;
}

.header-navigation li{
	display: inline-block;
	padding-left: 50px;
}

.header-navigation li :hover{
	color: #FF7A00;
	transition: 0.5s;
}

.header-navigation li a{
	text-decoration: none;
	color: #181C28;
}

.header-navigation{
	display: inline-block;
	vertical-align: middle;
	padding-left: 123px;
}

.Banner{
	width: 100%;
	height: auto;
	margin-top: 26px;
}

.Banner-section{
	position: relative;
}

.Banner-text{
	text-align:center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.Banner-section p{
	font-size: 22px;
	color: white;
}

.Banner-section h2{
	font-size: 48px;
	color: white;
}

.article-section{
	padding-top: 92px;
}

.article-section  article{
	width: 30%;
}

.article-section h2{
	font-size: 22px;
}
.article-section .flex-div article h3{
	font-size: 36px;
}

.article-section .flex-div article p{
	font-size: 16px;
}
.article-section .flex-div article a{
	font-size: 14px;
}

.flex-div{
	display: flex;
	justify-content: space-between;
}

